.banner {/* dividiendo la pantalla en columnas y filas */
    display: flex;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    height: 110vh;
}

.banner__principal {
    background: url('../images/portadaWeb2.jpg') center / cover no-repeat;
    grid-column: 1/5;
    grid-row: 1/5;
}

.banner__titulo {
    color: blueviolet;
    position: absolute;
    left: 56rem;
    margin-top: 20rem;
}

.banner__text {
    color: blue;
    position: absolute;
    left: 56rem;
    right: 8rem;
    margin-top: 22rem;
    padding-right: 2rem;
}
