.app{
    background: #f1f1f1;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
    "encabezado"
    "contenido"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 80px 110vh auto;
}

.encabezado{
    align-items: center;
    display: flex;
    grid-area: encabezado;
    padding: 0 2rem;
    background: #f1f1f1;

}

.contenido {
    grid-area: contenido;
    padding: 0.2rem;

}

.rodapie {
    background: #fdfdfd;
    color:aqua;
    grid-area: footer;
    padding: 1rem;
    text-align: center;

}