.app{
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

.container__header {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 5rem;
    left: -22rem;
}
.menu__item{
    display: inline;
    justify-content: space-between;
    margin: 0 0 0 55rem;
    font-weight: bold;
}

.portada {
    width: 95%;
    align-items: center;
}

.container__main {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.banner__titulo {
    position:absolute;
    left: 36rem;
    top: 7rem;

}

.banner__text {
    position: absolute;
    left: 36rem;
    right: 9rem;
    top: 9rem;
    padding-right: 2rem;

}